* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


html {
    font-family: 'Roboto', sans-serif;
}
/* это колохоз потом надо править */
.content {
    height: 93vh;
    display: flex;
}

.palettes_content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.palettes{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.header {
    height: 7vh;
    background-color: hsla(336, 100%, 3%, 0.853);
}

ul {
    list-style: none;
}

li {
    /*padding-top: 15px;*/
}

a {
    text-decoration: none;
    color:rgba(240, 248, 255, 0.974);
}

/*.authorization h1 {
    text-align: center;
    margin-top: 100px;
}*/

.profile_avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px solid white;

}

nav {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* justify-content: flex-end; */
    /*background-color: hsla(336, 100%, 3%, 0.853);*/
    /*outline: 5px solid;*/
    padding-left: 40px;
    height: 100%;
}

.nav_list {
    display: flex;
    align-items: center;
    /* flex: 1; */
    justify-content: start;
    flex-direction: row;
    font-size: 22px;
    flex-grow: 1;
}

.nav_item {
    display: inline-block;
    padding: 20px 5px;
}

.nav_link {
    text-transform: lowercase;
    font-variant: small-caps;
    padding: 1.6vh 5px;
}

.nav_link:hover {
    /*color: rgba(240, 248, 255, 0.877);*/
    background-color: black;
}

.nav_link_active {
    background-color: #9e1390e3;
}

.nav_actions {
    display: flex;
    align-items: center;
    /* flex: 1; */
    justify-content: space-around;
    flex-direction: row;
    font-size: 40px;
}

.nav_action_item {
    margin-left: 10px;
    padding-right: 10px;
    font-size: 22px;
    display: inline-block;
    text-transform: lowercase;
    font-variant: small-caps;
}

.form-control {
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.137);
}

.nav_action_item_link {
    padding: 10px 20px;
    background-color: #9e1390e3;
    border-radius: 25px;
}

.col {

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.col h2{
    padding: 10px;
    color: white;
    border-radius: 10px;
    transition: background 1s;
}

.col h2:hover{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    
}

.col button{
    outline: none;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    color: white;
    transition: background 1s;
}

.col button:hover{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.btn-primary {
    width: 300px;
    height: 38px;
    background-color: rgb(74, 74, 252);
    color: white;
    border-radius: 15px;
}

.form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 470px;
    padding: 20px;
    width: 320px;
}

.form-short {
    height: 420px;
}
  
.title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
}
  
.subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
  
.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}
  
.ic1 {
    margin-top: 40px;
}
  
.ic2 {
    margin-top: 30px;
}
  
.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}
  
.cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 62px;
}
  
.cut-long {
    width: 120px;
}

.cut-short {
    width: 55px;
}
  
.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}
  
.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 100ms, color 200ms;
    top: 20px;
}
  
.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}
  
.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}
  
.input:focus ~ .placeholder {
    color: #dc2f55;
}
  
.submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
}
  
.submit:active {
    background-color: #06b;
}

.reg_body {
    align-items: center;
    background: linear-gradient(45deg, #FC466B, #3F5EFB);
    display: flex;
    justify-content: center;
    height: 93vh;
}

.remember_me_label {
    color: #eee;
}

.remember_me {
    margin-top: 25px;
}

.edit_position_castle {
    margin-bottom: 100px;
}

.edit_position_heading {
    margin-top: 100px;
}

.profile_container {
    background: linear-gradient(45deg, #FC466B, #3F5EFB);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 93vh;
}

.profile {
    width: 360px;
    height: 600px;
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
}

.new_password_long {
    width: 100px;
}

.confirm_password_long {
    width: 135px;
}

.avatar_label {
    color: #eee;
    font-family: sans-serif;
}

.change_avatar_container {
    margin-top: 25px;
}