@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --header-fg-color: rgb(246, 249, 209);
    ;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
}

/* .main_content {
    flex-grow: 4;
} */

html {
    font-family: 'Roboto', sans-serif;
}

section{
    display: flex;
    background: linear-gradient(45deg, #FC466B, #3F5EFB);
    /* height: 97vh; */
    background-size: cover;
    background-attachment: fixed;
    flex-grow: 4;
    flex-shrink: 0;
}
/* это колохоз потом надо править */
/* .content {
    height: 93vh;
    display: flex;
} */

.palettes_content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}



.saved_palettes_content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.saved_pallete{
    background-color: #15172b;
    height: 160px;
    width: 360px;
    display: flex;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 15px;
    flex-direction: column;
    align-items: flex-start;
}

.delete_favourite_button{
    color: white;
    justify-content: center;
    height: 30px;
}

.saved_pallete_colors {
    display: flex;
    flex-direction: row;
    margin: 10px;
    height: 65%;
    
}

.saved_cols {
    text-align: center;
    width: 68px;
}



.palett_container {
    background-color: #15172b;
    height: 150px;
    width: 20%;
    display: flex;
    border-radius: 7px;
    /* border: 1px solid black; */
    flex-direction: column;
    justify-items: center;
    margin-top: 15px;
    box-shadow: 0px 0px 3px 0px black;
    overflow: hidden;
}

.palettes{
    display: flex;
    flex-direction: row;
    /* margin: 10px; */
    height: 80%;
    width: 100%;
    /* padding: 1px 1px; */

}
.palette_col {
    text-align: center;
    width: 20%;
    /* width: 68px; */
}

.like, .disabled_like {
    /* position: relative; */
    /* top: 123px; */
    /* right: 350px; */
    color: white;
    height: 20%;
    /* align-self: center; */
    /* height: 20px; */
}


.header {
    /* height: 7vh; */
    background-color: hsla(336, 100%, 3%, 0.853);
    /* padding: 5px; */
}

ul {
    list-style: none;
}

li {
    /*padding-top: 15px;*/
}

a {
    text-decoration: none;
    color:rgba(240, 248, 255, 0.974);
}

/*.authorization h1 {
    text-align: center;
    margin-top: 100px;
}*/


nav {
    display: flex;
    /* flex: 1; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* justify-content: flex-end; */
    /*background-color: hsla(336, 100%, 3%, 0.853);*/
    /*outline: 5px solid;*/
    /* padding-left: 40px; */
    /* padding: 100px; */
    /* height: 100%; */
}

.nav_list {
    display: flex;
    align-items: center;
    /* flex: 1; */
    justify-content: start;
    flex-direction: row;
    font-size: 22px;
    /* flex-grow: 1; */
}

.nav_item {
    /* display: inline-block; */
    /* padding: 20px 5px; */
}

.nav_link {
    text-transform: lowercase;
    font-variant: small-caps;
    /* padding: 1.6vh 5px; */
    padding: 20px;
    display: inline-block;
    font-stretch:50%;
    transition: 0.5s ease
}

.nav_link:hover {
    /*color: rgba(240, 248, 255, 0.877);*/
    background-color: black;
}

.nav_link_active {
    background-color: #9e1390e3;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.lang_icon {
    width: auto;
    height: 50px;

}

.nav_actions {
    display: flex;
    align-items: center;
    /* flex: 1; */
    justify-content: space-around;
    flex-direction: row;
    font-size: 40px;
}

.nav_action_item {
    margin-left: 10px;
    padding-right: 10px;
    font-size: 22px;
    /* line-height: 22px; */
    display: inline-block;
    text-transform: lowercase;
    font-variant: small-caps;
}

.form-control {
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.137);
}

.nav_action_item:nth-child(2) a{
    display: flex;
    align-items: center;
    padding-right: 60px;
    position: relative;
    /* padding: 0 20px; */
}

.nav_action_item_link {
    
    padding: 10px 20px;
    background-color: #9e1390e3;
    border-radius: 25px;
    font-stretch:50%;
    transition: 0.5s ease;

}

.nav_action_item_link:hover {
    /*color: rgba(240, 248, 255, 0.877);*/
    background-color: #f925e4e3;
}



.profile_avatar {
    position: absolute;
    /* display: inline-block; */
    top:10%;
    right: 10px;
    /* width: 30px; */
    height: 80%;
    border-radius: 100%;
    margin-left: 15px;
    border: 3px solid white;
}

.about_us {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.creator_block{
    background-color: #15172b4a;
    /* border: white solid 5px; */
    border-radius: 8px;
    color: white;
    max-width: 900px;
    margin-top: 50px;
    padding: 40px 80px;
    font-size: 18px;
    line-height: 30px;
}

.creator_block_content {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

h1 {
    color: var(--header-fg-color);
    font-stretch: 120%;
    font-size: 35px;
}

.about_us h2 {
    color: var(--header-fg-color);
    text-align: left;
    font-size: 30px;
}

.text_block {
    text-align: left;
    margin-left: 50px;
}

.text_block li {
    margin-left: 20px;
}


.img_creator {
    
    border-radius: 50%;
    height: auto;
    width: 250px;
    transition: 0.3s ease;
}

.img_creator:hover{
    box-shadow: 0px 0px 10px 1px white;
}



.col {
    align-self: stretch;
    /* flex-grow: 1; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.col h2{
    padding: 10px;
    color: white;
    border-radius: 10px;
    transition: background 1s;
}

.col h2:hover{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    
}

.col button{
    outline: none;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    color: white;
    transition: background 1s;
}

.col button:hover{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.btn-primary {
    width: 300px;
    height: 38px;
    background-color: rgb(74, 74, 252);
    color: white;
    border-radius: 15px;
}

.form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 530px;
    padding: 20px;
    width: 320px;
}

.form_profile {
   margin-left: 20px;
}

.form-short {
    height: 420px;
}
  
.title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
}
  
.subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    text-align: center;
}
  
.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}
  
.ic1 {
    margin-top: 40px;
}
  
.ic2 {
    margin-top: 30px;
}
  
.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}
  
.cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 62px;
}
  
.cut-long {
    width: 120px;
}

.cut-short {
    width: 55px;
}
  
.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}
  
.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 100ms, color 200ms;
    top: 20px;
}
  
.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}
  
.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}
  
.input:focus ~ .placeholder {
    color: #dc2f55;
}
  
.submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
}
  
.submit:active {
    background-color: #06b;
}

.reg_body {
    align-items: center;
    background: linear-gradient(45deg, #FC466B, #3F5EFB);
    display: flex;
    justify-content: center;
    height: 93vh;
}

.remember_me_label {
    color: #eee;
}

.remember_me {
    margin-top: 25px;
}

.edit_position_castle {
    margin-bottom: 100px;
}

.edit_position_heading {
    margin-top: 100px;
}

.profile_container {
    background: linear-gradient(45deg, #FC466B, #3F5EFB);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 93vh;
}

.profile {
    width: 360px;
    height: 640px;
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
}

.new_password_long {
    width: 100px;
}

.confirm_password_long {
    width: 135px;
}

.avatar_label {
    padding-top: 20px;
    color: #eee;
    font-family: sans-serif;
    text-align: center;
}

.change_avatar_container {
    margin-top: 25px;
}

.form-control-file {
    padding-top: 10px;
    margin-left: 30px;
    text-align: center;
}

.avatar {
    text-align: center;
}

.avatar_icoon {
    /* text-align: center; */
    margin-top: 15px;
    /* margin-left: 130px; */
}

.main_content {
    /* background: linear-gradient(45deg, #FC466B, #3F5EFB); */
    background: linear-gradient(165deg, #ffc4c49c, #d89dff9e);
    /* height: 97vh; */
    background-size: cover;
    background-attachment: fixed;
    flex-grow: 4;
    flex-shrink: 0;
    padding: 60px 0;
}

