* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* это колохоз потом надо править */
content {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
}

ul {
    list-style: none;
}

li {
    padding-top: 15px;
}

a {
    text-decoration: none;
    color:rgba(240, 248, 255, 0.974);
}

a:hover {
    color: rgba(240, 248, 255, 0.745);
}


nav {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* justify-content: flex-end; */
    background-color: hsla(336, 100%, 3%, 0.885);
    outline: 5px solid;
}

.nav_list {
    display: flex;
    /* flex: 1; */
    justify-content: space-around;
    flex-direction: row;
    font-size: 40px;
    flex-grow: 1;
}

.nav_item {
    display: inline-block;
}

.nav_actions {
    display: flex;
    /* flex: 1; */
    justify-content: space-around;
    flex-direction: row;
    font-size: 40px;
    
}

.nav_action_item {
    margin-left: 30px;
    padding-right: 10px;
    display: inline-block;
}

.col {

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.col h2{
    padding: 10px;
    color: white;
    border-radius: 10px;
    transition: background 1s;
}

.col h2:hover{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    
}

.col button{
    outline: none;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    color: white;
    transition: background 1s;
}

.col button:hover{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    
}