{% extends "base.html" %}

{% block content %}
<main class="main_content">
    <div class="about_us">
        <h1>НЕМНОГО ОБ АВТОРАХ</h1>
        <div class="creator_block">
            <h2 class="creator_name">Турьев Александр (Роль в проекте: Backend)</h2>
            <div class="creator_block_content">
            <img src="{{ url_for('static', filename='img/sanya.jpg') }}" alt="" class="img_creator">
            <div class="text_block">
            <p class="about_creator">Здравствуйте пользователи сайта, я Турьев Александр учащийся яндекс лицея. Этот сайт является годовым проектом так что не судите строго. За время програмирования я поучавствовал во многих конурсах и олимпиадах, а также освоил следующие языки програмирования и технологии:</p>
            <div class="icons">
                <img src="{{ url_for('static', filename='img/html.png') }}" alt="" class="lang_icon">
                <img src="{{ url_for('static', filename='img/js.png') }}" alt="" class="lang_icon">
                <img src="{{ url_for('static', filename='img/css.png') }}" class="lang_icon" alt="">
                <img src="{{ url_for('static', filename='img/python.png') }}" class="lang_icon" alt="">
                <img src="{{ url_for('static', filename='img/sql.png') }}" class="lang_icon" alt="">
            </div>
        </div>
        </div>
        </div>
        <div class="creator_block">
            <h2 class="creator_name">Игнатов Михаил (Роль в проекте: Frontend)</h2>
            <div class="creator_block_content">
            <img src="{{ url_for('static', filename='img/sanya.jpg') }}" alt="" class="img_creator">
            <div class="text_block">
            <p class="about_creator">Здравствуйте пользователи сайта, я учащийся яндекс лицея. Этот сайт является годовым проектом так что не судите строго. За время програмирования я поучавствовал во многих конурсах и олимпиадах, а также освоил следующие языки програмирования и технологии:</p>
            <div class="icons">
                <img src="{{ url_for('static', filename='img/html.png') }}" alt="" class="lang_icon">
                <img src="{{ url_for('static', filename='img/js.png') }}" alt="" class="lang_icon">
                <img src="{{ url_for('static', filename='img/css.png') }}" class="lang_icon" alt="">
                <img src="{{ url_for('static', filename='img/python.png') }}" class="lang_icon" alt="">
                <img src="{{ url_for('static', filename='img/sql.png') }}" class="lang_icon" alt="">
            </div>
        </div>
        </div>
        </div>
    </div>
</main>
{% endblock %}
