{% extends "base.html" %}

{% block content %}
<main class="main_content">
    <div class="about_us">
        <div class="creator_block">
            <h1 class="creator_name">Турьев Александр</h1>
            <div class="creator_block_content">
            <img src="{{ url_for('static', filename='img/sanya.jpg') }}" alt="" class="img_creator">
            <div class="text_block">
            <p class="about_creator">Здравствуйте пользователи сайта, я Турьев Александр учащийся яндекс лицея.</p>
            <p class="about_creator">Этот сайт является годовым проектом так что не судите строго. За время програмирования я освоил следующие языки програмирования и технологии:</p>
            <div>
                <img src="{{ url_for('static', filename='img/html.png') }}" alt="" class="icons">
                <img src="{{ url_for('static', filename='img/js.png') }}" alt="" class="icons">
                <img src="{{ url_for('static', filename='img/css.png') }}" class="icons" alt="">
                <img src="{{ url_for('static', filename='img/python.png') }}" class="icons" alt="">
                <img src="{{ url_for('static', filename='img/sql.png') }}" class="icons" alt="">
                <img src="{{ url_for('static', filename='img/sqla.png') }}" class="icons" alt="">
            </div>
            <p>Также поучавствовал во многих конурсах и олимпиадах</p>
        </div>
        </div>
        </div>
        <div class="creator_block">
            <h1 class="creator_name">Игнатов Михаил</h1>
            <img src="{{ url_for('static', filename='img/icoon.png') }}" alt="" class="img_creator">
            <p class="about_creator">Номер: </p>
        </div>
    </div>
</main>
{% endblock %}