{% extends "base.html" %}

{% block content %}
<main class="main_content">
    <div class="about_us">
        <div class="creator_block">
            <h1 class="creator_name">Турьев Александр</h1>
            <img src="{{ url_for('static', filename='img/icoon.png') }}" alt="" class="img_creator">
            <p class="about_creator">Здравствуйте пользователи сайта, я Турьев Александр учащийся яндекс лицея.</p>
            <p class="about_creator">Этот сайт является годовым проектом так что не судите строго. За время програмирования я изучил такие языки как</p>
            <ul>
                <li>s</li>
            </ul>
        </div>
        <div class="creator_block">
            <h1 class="creator_name">Игнатов Михаил</h1>
            <img src="{{ url_for('static', filename='img/icoon.png') }}" alt="" class="img_creator">
            <p class="about_creator">Номер: </p>
        </div>
    </div>
</main>
{% endblock %}