{% extends "base.html" %}

{% block content %}
<div class="palettes_content" id="best_content">
    {% for i in range(len_colors) %}
    <div class="palettes" id="{{ palettes_ids[i] }}">
        {% for j in range(len_colors_elements) %}
        <div class="palette_col" style="background: #{{ colors_hash[i][j] }}">
            #{{ colors_hash[i][j] }}

        </div>
        {% endfor %}
        {% if palettes_ids[i] in liked_paletes %}
        <i class="like fa-regular fa-heart" data-id="{{ palettes_ids[i] }}"></i>
        {% else %}
        <i class="like fa-solid fa-heart" data-id="{{ palettes_ids[i] }}"></i>
        {% endif %}
    </div>

    {% endfor %}
</div>

<script src="{{ url_for('static', filename='js/palettes.js')}}"></script>
{% endblock %}
