{% extends "base.html" %}

{% block content %}
<div class="palettes_content" id="best_content">
    {% for keys in palettes_ids.keys() %}
    <div class="palettes" id="{{ keys }}">
        {% for j in palettes_ids[keys] %}
        <div class="palette_col" style="background: #{{ j }}">
            #{{ j }}
        </div>
        {% endfor %}
        {% if keys in liked_paletes %}
        <i class="like fa-solid fa-heart" data-id="{{ keys }}">{{ count_liked_palettes[keys] }}</i>
        {% else %}
        <i class="like fa-regular fa-heart" data-id="{{ keys }}">{{ count_liked_palettes[keys] }}</i>
        {% endif %}
    </div>

    {% endfor %}
</div>

<script src="{{ url_for('static', filename='js/palettes.js')}}"></script>
{% endblock %}
