{% extends "base.html" %}

{% block content %}
<div class="main_content">
<div class="palettes_content" id="best_content">
    {% for keys in palettes_ids.keys() %}
    <div class="palett_container">
    <div class="palettes" id="{{ keys }}">
        {% for j in palettes_ids[keys] %}
        <div class="palette_col" style="background: #{{ j }}" data-id="{{ j }}">
        </div>
        {% endfor %}
    </div>
        <p>
        {% if current_user.is_authenticated %}
        {% if keys in liked_paletes %}
        <i class="like fa-solid fa-heart" data-id="{{ keys }}">{{ count_liked_palettes[keys] }}</i>
        {% else %}
        <i class="like fa-regular fa-heart" data-id="{{ keys }}">{{ count_liked_palettes[keys] }}</i>
        {% endif %}
        {% else %}
        <i class="disabled_like fa-regular fa-heart" data-id="{{ keys }}">{{ count_liked_palettes[keys] }}</i>
        {% endif %}
        </p>
    </div>

    {% endfor %}
</div>
<div class="toast toast_hide">
    <div class="toast__body">Цвет скопирован</div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/palettes.js')}}"></script>
{% endblock %}
