{% extends "base.html" %}

{% block content %}
<content>
    <div class="col">
        <h2 data-type="copy"></h2>
        <button data-type="lock">
            <!-- иконка -->
            <i class="fa-solid fa-lock-open" data-type="lock"></i>
        </button>
    </div>

    <div class="col">
        <h2 data-type="copy"></h2>
        <button data-type="lock">
            <i class="fa-solid fa-lock-open" data-type="lock"></i>

        </button>
    </div>

    <div class="col">
        <h2 data-type="copy"></h2>
        <button data-type="lock">
            <i class="fa-solid fa-lock-open" data-type="lock"></i>
        </button>
    </div>

    <div class="col">
        <h2 data-type="copy"></h2>
        <button data-type="lock">
            <i class="fa-solid fa-lock-open" data-type="lock"></i>
        </button>
    </div>

    <div class="col">
        <h2 data-type="copy"></h2>
        <button data-type="lock">
            <i class="fa-solid fa-lock-open" data-type="lock"></i>
        </button>
    </div>
</content>
<script src="{{ url_for('static', filename='js/app.js')}}"></script>
{% endblock %}