{% extends "base.html" %}

{% block content %}
<section class="content">
    <div class="col">
        <h2 data-type="copy"></h2>
        <button data-type="lock">
            <!-- иконка -->
            <i class="fa-solid fa-lock-open" data-type="lock"></i>
        </button>
    </div>

    <div class="col">
        <h2 data-type="copy"></h2>
        <button data-type="lock">
            <i class="fa-solid fa-lock-open" data-type="lock"></i>

        </button>
    </div>

    <div class="col">
        <h2 data-type="copy"></h2>
        <button data-type="lock">
            <i class="fa-solid fa-lock-open" data-type="lock"></i>
        </button>

        <button data-type="like_btn">
        <i class="like fa-regular fa-heart"></i>
        </button>
    </div>

    <div class="col">
        <h2 data-type="copy"></h2>
        <button data-type="lock">
            <i class="fa-solid fa-lock-open" data-type="lock"></i>
        </button>
    </div>

    <div class="col">
        <h2 data-type="copy"></h2>
        <button data-type="lock">
            <i class="fa-solid fa-lock-open" data-type="lock"></i>
        </button>
    </div>

</section>
<script src="{{ url_for('static', filename='js/app.js')}}"></script>
{% endblock %}