{% extends "base.html" %}

{% block content %}
<div class="profile_container">
<div class="profile">
<div class="title">Профиль</div>
<div class="avatar"></div>
<form action="" method="post" enctype="multipart/form-data" class="form">
    {{ form.hidden_tag() }}
    <p class="subtitle">Изменить пароль</p>
    <div class="input-container ic2">
        {{ form.password(id="firstname", class="input", type="password", placeholder=" ") }}
        <div class="cut new_password_long"></div>
        {{ form.password.label(for="firstname", class="placeholder",  text="Новый пароль") }}
        {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
        </div>
    <div class="input-container ic2">
        {{ form.password_again(id="lastname", class="input", type="password", placeholder=" ") }}
        <div class="cut confirm_password_long"></div>
        {{ form.password.label(for="lastname", class="placeholder", text="Подтвердите пароль") }}
        {% for error in form.password_again.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>

    <div class="change_avatar_container">
        {{ form.avatar.label(class="avatar_label") }}
        {{ form.avatar(class="form-control-file", type="file") }}
        {% for error in form.avatar.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
</div>
</div>
{% endblock %}