{% extends "base.html" %}

{% block content %}
<div class="reg_body">
<form class="form" action="" method="post" novalidate>
    <div class="title">Регистрация</div>
    {{ form.hidden_tag() }}
    <div class="input-container ic1">
        {{ form.name(id="firstname", class="input", type="text", placeholder=" ") }}
        <div class="cut cut-short"></div>
        {{ form.name.label(for="firstname", class="placeholder", text="Имя")}}
    </div>
    <div class="input-container ic2">
        {{ form.email(id="firstname", class="input", type="text", placeholder=" ") }}
        <div class="cut cut-short"></div>
        {{ form.email.label(for="firstname", class="placeholder")}}

        {% for error in form.email.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>
    <div class="input-container ic2">
        {{ form.password(id="lastname", class="input", type="password", placeholder=" ") }}
        <div class="cut"></div>
        {{ form.password.label(for="lastname", class="placeholder")}}

        {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>
    <div class="input-container ic2">
        {{ form.password_again(id="email", class="input", type="password", placeholder=" ") }}
        <div class="cut cut-long"></div>
        {{ form.password.label(for="lastname", class="placeholder", text="Повторите пароль")}}

        {% for error in form.password_again.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>
    <p>{{ form.submit(type="submit", class="submit", text="Зарегистрироваться") }}</p>
    {{message}}
</form>
</div>
{% endblock %}
