{% extends "base.html" %}

{% block content %}
<div class="palettes_content" id="favourite_content">
    {% for i in range(len_colors) %}
    <div class="palettes" id="{{ palettes_ids[i] }}">
        {% for j in range(len_colors_elements) %}
        <div class="favourite_cols" style="background: #{{ colors_hash[i][j] }}">
            #{{ colors_hash[i][j] }}
        </div>
        {% endfor %}
        <button data-id="{{ palettes_ids[i] }}" class="delete_favourite_button">delete</button>
    </div>
    {% endfor %}
</div>

<script src="{{ url_for('static', filename='js/palettes.js')}}"></script>
{% endblock %}
