{% extends "base.html" %}

{% block content %}
<div class="main_content" id="favourite_content">
    <div class="palettes_content">
    {% for i in range(len_colors) %}
    <div class="palett_container" id="{{ palettes_ids[i] }}">
    <div class="palettes">
        {% for j in range(len_colors_elements) %}
        <div class="palette_col" style="background: #{{ colors_hash[i][j] }}" data-id="{{ colors_hash[i][j] }}">
            
        </div>
        
        {% endfor %}
    </div>
    <p><i data-id="{{ palettes_ids[i] }}" class="delete_favourite_button fa fa-trash"> </i></p>
    

    
    </div>
    {% endfor %}
</div>
<div class="toast toast_hide">
    <div class="toast__body">Цвет скопирован</div>
  </div>
</div>


<script src="{{ url_for('static', filename='js/palettes.js')}}"></script>
{% endblock %}
